body{
    background-color: lightgoldenrodyellow;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*Scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(253, 253, 210);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 184);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 170);
  }

.navigator-position {
    position: fixed;
    right: 0;
    top: 40vh;
    z-index: 4000;
}

.navigator-box {
    background-color: goldenrod;
    border: 2px white solid;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: medium;
    color:inherit;
    position: relative;
    opacity: 50%;
}

.navigator-box-title {
    background-color: inherit;
    color: black;
    padding-left: .1rem;
    border-bottom: 1px white solid;
    text-align: center;
}

.navigator-box-title h4{
    background-color: inherit;
    color: inherit;
}

.navigator-box-content {
    padding: .4rem;
    color: inherit;
    background-color: inherit;
    padding-top: 0;
    /* display: flex;
    flex-direction: column; */
}

.navigator-box-content ul {
    padding: 10px;
}

.navigator-box-content a{
    text-decoration: none;
    background-color: inherit;
    color: black;
    font-size: 12px;
}

.navigator-box-content a:hover {
    text-decoration: underline;
    color: blue;
}

.navigator-box-content a::after {
    color: black;
    text-decoration: none;
}

.box-background-color {
    background-color: goldenrod;
}

.row {
    border: 0px black solid;
    padding:10px;
}

.row-header {
    text-decoration: underline;
    margin-bottom: 5px;
    text-align: center;
}

.rotate-container{
    display: flex;
    height: 300px;
}

.rotater-button{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: goldenrod;
    border: black 1px solid;
    height: inherit;
    color:black
}

.rotater-button p{
    font-size: 30px;
}

.rotater-button:hover{
    background-color: rgb(151, 115, 23);
    color: white;
}

.left-button {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.left-button i{
    rotate: 180deg;
}

.right-button{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.image-container{
    background-color: black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: inherit;
    width: 60%;
}